<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <add key="maxDataSize" value="1000" />
        <add key="nameQuestion" value="Enter the person's name: " />
        <add key="ageQuestion" value="Enter the person's age: " />
    </appSettings>
</configuration>